# Prieskumn√° anal√Ωza d√°t - Exploratory Data Analysis (EDA)

### Dnes sa budeme venova≈• tomu, ako...
- naƒç√≠ta≈• d√°ta
- analyzova≈• jednotliv√© atrib√∫ty
- analyzova≈• vz≈•ahy medzi atrib√∫tmi
- vizualizova≈• d√°ta (vhodn√© typy vizualiz√°ci√≠, vlastnosti dobr√Ωch vizualiz√°ci√≠, ako neklama≈• vizualiz√°ciou)

### Predt√Ωm, ako zaƒçneme analyzova≈• d√°ta, by sme si mali ujasni≈•...
- Ak√© ot√°zky m√°me anal√Ωzou zodpoveda≈•
- Ak√∫ √∫lohu m√°me rie≈°i≈•

### Na tomto predmete sa budeme zaobera≈• ML len dvomi √∫lohami
- Klasifik√°cia
- Regresia

### V oboch pr√≠padoch sa sna≈æ√≠me n√°js≈• funkciu $f$ atrib√∫tov $X$, ktor√° bude predikova≈• hodnotu z√°vislej premennej $Y$
- V pr√≠pade regresie  ùëå‚ààùëÖ
- V pr√≠pade klasifik√°cie  ùëå‚àà{ùê∂1,ùê∂2,‚Ä¶,ùê∂ùëÅ}

Obe √∫lohy s√∫ pr√≠kladom **uƒçenia s uƒçiteƒæom**

# Sk√∫sme naƒç√≠ta≈• data :)

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
data = pd.read_csv("data/airbase/BETR8010000800100hour.1-1-1990.31-12-2012")
data.head()

  1990-01-01\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0\t-999.000\t0
0  1990-01-02\t-999.000\t0\t-999.000\t0\t-999.000...
1  1990-01-03\t51.000\t1\t50.000\t1\t47.000\t1\t4...
2  1990-01-04\t-999.000\t0\t-999.000\t0\t-999.000...
3  1990-01-05\t51.000\t1\t51.000\t1\t48.000\t1\t5...
4  1990-01-06\t-999.000\t0\t-999.000\t0\t-999.000...

Vid√≠me, ≈æe pri naƒç√≠tan√≠ nastalo viacero probl√©mov - v≈°etky d√°ta skonƒçili v jednom stƒ∫pci a navy≈°e prv√Ω riadok bol automaticky interpretovan√Ω ako hlaviƒçka.

### Sk√∫sme sa pozrie≈• na d√°ta v nejakom editore (konzola) predt√Ωm, ako ich naƒç√≠tame

In [3]:
%%bash
head data/airbase/BETR8010000800100hour.1-1-1990.31-12-2012

Couldn't find program: 'bash'

## Teraz u≈æ vieme naƒç√≠ta≈• d√°ta lep≈°ie - pred naƒç√≠tan√≠m d√°t by sme sa mali sami seba sp√Ωta≈•:

* Odkiaƒæ s√∫ dan√© d√°ta? Kto ich vytvoril?
* V akom form√°te s√∫ reprezentovan√©?
* Koƒæko ich je?
* Je niekde dostupn√° interpret√°cia jednotliv√Ωch stƒ∫pcov?

In [4]:
filename = "data/airbase/BETR8010000800100hour.1-1-1990.31-12-2012"

data = pd.read_csv(filename, sep='\t', header=None,
                   na_values=[-999, -9999], index_col=0)
data.head()

,1,2,3,4,5,6,7,8,9,10,...,39,40,41,42,43,44,45,46,47,48
0,,,,,,,,,,,,,,,,,,,,,
1990-01-01,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
1990-01-02,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,...,57.0,1,58.0,1,54.0,1,49.0,1,48.0,1
1990-01-03,51.0,1,50.0,1,47.0,1,48.0,1,51.0,1,...,84.0,1,75.0,1,NaN,0,NaN,0,NaN,0
1990-01-04,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,...,69.0,1,65.0,1,64.0,1,60.0,1,59.0,1
1990-01-05,51.0,1,51.0,1,48.0,1,50.0,1,51.0,1,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0

# M√¥≈æeme sa pusti≈• do prieskumnej anal√Ωzy (EDA) 

- Op√≠sa≈• d√°ta spolu s ich charakteristikami = **Deskript√≠vna ≈°tatistika**
- Formulova≈• a overi≈• hypot√©zy o d√°tach = **Vizualiz√°cia d√°t** + inferenƒçn√° ≈°tatistika
- Identifikova≈• vz≈•ahy medzi atrib√∫tmi = **Z√°vislosti** (napr. korel√°cie)
- Identifikova≈• probl√©my v d√°tach = ƒåo budeme musie≈• rie≈°i≈• v r√°mci predspracovania

## Mo≈æn√© probl√©my v d√°tach

* nevhodn√° ≈°trukt√∫ra d√°t (d√°ta nie s√∫ v tabuƒækovej podobe alebo jedna entita je op√≠san√° viacer√Ωmi riadkami tabuƒæky)
* duplicitn√© z√°znamy, resp. nejednoznaƒçn√© mapovanie medzi z√°znamami
* nejednotn√© form√°ty d√°t
* ch√Ωbaj√∫ce hodnoty
* vych√Ωlen√© (odƒæahl√©) hodnoty (angl. *outliers*)
* a ƒèal≈°ie

## Iris dataset

iris = kosatec

Tri druhy: setosa, virginica, versicolor
<img src="https://i.imgur.com/PQqYGaW.png" width="70%" />

In [5]:
iris = sns.load_dataset("iris")
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
iris.shape[0] - iris.dropna().shape[0]

0

In [7]:
iris[iris.isnull().any(axis=1)]

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

In [8]:
iris.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

# Typy atrib√∫tov
* Spojit√© (numerick√©)
* Diskr√©tne (kategorick√©) - nomin√°lne vs. ordin√°lne

**Pozor na kategorick√© atrib√∫ty, ktor√© s√∫ reprezentovan√© ƒç√≠selne, t. j. ƒç√≠sla len k√≥duj√∫ kateg√≥riu**

### Anal√Ωza atrib√∫tov po jednom (univariate)

* **spojit√©** - deskript√≠vna ≈°tatistika (priemer, medi√°n, ...), rozdelenia
* **kategorick√©** - poƒçet unik√°tnych hodn√¥t, frekvencia ich v√Ωskytov

### P√°rov√° anal√Ωza (bivariate)

* **spojit√Ω-spojit√Ω** - z√°vislos≈•, korel√°cia
* **spojit√Ω-kategorick√Ω** - rozdiely v hodnote spojit√©ho atrib√∫tu v z√°vislosti od kateg√≥rie
* **kategorick√Ω-kategorick√Ω** - tabuƒæka, pomer poƒçetnosti hodn√¥t

In [9]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [10]:
iris.describe(exclude=np.number)

       species
count      150
unique       3
top     setosa
freq        50

# Anal√Ωza jednotliv√Ωch atrib√∫tov: Spojit√© atrib√∫ty

Chceme zobrazi≈•, ak√Ω je tvar rozdelenia d√°t, ƒçi sa zoskupuj√∫ okolo nejak√©ho **centra**, a ak√° je **rozpt√Ωlenos≈•** hodn√¥t

## Zobrazenie centr√°lnosti

* **priemer** (mean)
* **medi√°n** (median, stredn√° hodnota): hodnota, ktor√° rozdeƒæuje vy≈°≈°ie a ni≈æ≈°ie hodnoty
* **modus** (mode, mod√°lna hodnota, najpravdepodobnej≈°ia hodnota): najƒçastejsia hodnota (hodnota s najv√§ƒç≈°ou pravdepodobnos≈•ou v√Ωskytu)

In [11]:
x = np.array([1000, 1000, 1200, 1100, 10000])
x.mean()

2860.0

In [12]:
np.median(x)

1100.0

In [13]:
stats.mode(x)

C:\Users\Martin\AppData\Local\Temp\ipykernel_8660\1654510724.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(x)

ModeResult(mode=array([1000]), count=array([2]))

## Rozpt√Ωlenos≈•

* **variancia** (variance): priemern√° kvadratick√° odch√Ωlka od priemeru 
$$ E[(X-E[X])^2] $$

* **smerodajn√° odch√Ωlka** (standard deviation): druh√° odmocnina variancie, je v jednotk√°ch meranej premennej
$$ s = \sqrt{\frac{1}{N-1}\sum_{i=1}^N{(x_i-\overline{x})^2}} $$ 

* **rozsah** (range): max - min
* **horn√Ω/doln√Ω kvartil** (quartile): hodnota, od ktorej je 25%, resp. 75% hodn√¥t men≈°√≠ch 
* **percentil** (percentile): hodnota, od ktorej je XX% hodn√¥t men≈°√≠ch
* **medzikvartilov√© rozp√§tie** (inter quartile range): rozdiel medzi 25% a 75% kvartilom, menej n√°chyln√© na outlierov ako rozsah

### Na vizualiz√°ciu spojit√Ωch premenn√Ωch pou≈æ√≠vame dva z√°klade typy grafov

* Krabicov√Ω graf (boxplot)
* Histogram (graf hustoty)

In [ ]:
iris[iris.columns.difference(['species'])].plot.box()

## Histogram

- For continuous variables, a **pyplot.hist** or **seaborn.distplot** may be used. 
- For discrete variables, a *seaborn.countplot* is more convenient.

In [ ]:
iris.petal_length.plot.hist(bins=30)

## Graf hustoty pravdepodobnostn√©ho rozdelenia

In [ ]:
sns.displot(iris.petal_length, bins=30)

## Koeficienty asymetrie a ≈°picatosti

### Koeficient asymetrie (skewness)

Koeficient asymetrie je metrika toho, ako je rozdelenie asymetrick√©. √öplne symetrick√© rozdelenie m√° hodnotu koeficientu rovn√∫ 0. Rozdelenie naklonen√© doƒæava bude ma≈• hodnotu koeficientu v√§ƒç≈°iu ako 0, naklonen√© doprava bude ma≈• menej ako 0.

<img src="https://miro.medium.com/max/600/1*nj-Ch3AUFmkd0JUSOW_bTQ.jpeg" alt="Skewness explained" />

So, when is the skewness too much?
* If the skewness is between -0.5 and 0.5, the data are fairly symmetrical.
* If the skewness is between -1 and -0.5(negatively skewed) or between 0.5 and 1(positively skewed), the data are moderately skewed.
* If the skewness is less than -1(negatively skewed) or greater than 1(positively skewed), the data are highly skewed.

In [ ]:
sample_size = 10000

norm = stats.norm(0, 1)
x = np.linspace(-5, 5, 100)
sample = norm.rvs(sample_size)

plt.plot(x, norm.pdf(x))
plt.hist(sample, bins=20)
plt.title("Normalne rozdelenie: ""Skewness %.5f" % (stats.skew(sample), ))

In [ ]:
sample_size = 1000

chi2 = stats.chi2(5)
x = np.linspace(0, 30, 100)
sample = chi2.rvs(sample_size)

plt.plot(x, chi2.pdf(x))
plt.hist(sample, bins=20)
plt.title("Chi-kvadrat(5) rozdelenie: ""Skewness %.5f" % (stats.skew(sample)))

In [ ]:
sample_size = 1000

chi2 = stats.chi2(5)
x = np.linspace(0, 30, 100)
sample = 30 - chi2.rvs(sample_size)

plt.plot(x, chi2.pdf(30 - x))
plt.hist(sample, bins=20)
plt.title("30 - Chi-kvadrat(5) rozdelenie: ""Skewness %.5f" % (stats.skew(sample), ))

### Koeficient ≈°picatosti (kurtosis)

- Koeficient ≈°picatosti meria mno≈æstvo d√°t sustreden√© v chvostoch. Vyjadruje teda mno≈æstvo, resp. n√°chylnos≈• danej distrib√∫cie produkova≈• odƒæahl√© (od stredu distrib√∫cie vzdialen√©) hodnoty.
- Veƒæmi ƒçasto sa porovn√°va k hodnote koeficientu norm√°lneho rozdelenia, ktor√° je 3. 
Ak je to viac ako 3, viac d√°t je sustreden√Ωch na okrajoch. Ak menej ako 3, tak je menej d√°t v okrajoch.
- ƒåasto sa pou≈æ√≠va aj *excess kurtosis*, ƒço je rozdiel oproti norm√°lnemu rozdeleniu, ƒçize kurtosis - 3.

<img src="https://excelrcom.b-cdn.net/assets/admin/ckfinder/userfiles/images/tableau1/tableau2/tableau3/tableau4/tableau5/tableau6/skewness-kurtosis_1JPG-.jpg" width="50%"/>

In [ ]:
sample_size = 100000

norm = stats.norm(0, 1)
x = np.linspace(-5, 5, 100)
sample = norm.rvs(sample_size)

plt.plot(x, norm.pdf(x))
plt.hist(sample, bins=20)
plt.title("Normalne rozdelenie: ""Kurtosis %.5f" % (stats.kurtosis(sample), ))

V z√°kladnom nastaven√≠ vracia funkcia excess kurtosis.

In [ ]:
sample_size = 100000

norm = stats.norm(0,1)
x = np.linspace(-7, 7, 100)
sample = norm.rvs(sample_size)

plt.plot(x, norm.pdf(x))
plt.hist(sample, bins=20)
plt.title("Normalne rozdelenie: ""Kurtosis %.5f" % (stats.kurtosis(sample, fisher=False), ))
# musime prestavit parameter fisher na False

In [ ]:
sample_size = 1000

logistic = stats.logistic()
x = np.linspace(-7, 7, 100)
sample = logistic.rvs(sample_size)

plt.plot(x, logistic.pdf(x))
plt.hist(sample, bins=20)

plt.title("Logisticke rozdelenie: ""Kurtosis %.5f" % (stats.kurtosis(sample, fisher=False)))

In [ ]:
sample_size = 1000

uniform = stats.uniform()
x = np.linspace(-7, 7, 100)
sample = uniform.rvs(sample_size)

plt.plot(x, uniform.pdf(x))
plt.hist(sample, bins=20)

plt.title("Uniformne rozdelenie: ""Kurtosis %.5f" % (stats.kurtosis(sample, fisher=False)))

## Anal√Ωza po jednom: Kategorick√© atrib√∫ty

Najƒçastej≈°√≠m sp√¥sobom zobrazenia je frekvenƒçn√° tabuƒæka zobrazuj√∫ca buƒè poƒçty pozorovan√≠ pre jednotliv√© unik√°tne hodnoty atrib√∫tu alebo pomer voƒçi celkov√©mu poƒçtu pozorovan√≠. 

Na grafick√∫ vizualiz√°ciu sa pou≈æ√≠va **stƒ∫pcov√Ω graf (bar plot)**.

In [ ]:
diamonds = pd.read_csv('data/diamonds.csv')
diamonds.head()

In [ ]:
diamonds.color.value_counts()

In [ ]:
diamonds.color.value_counts().plot(kind='bar')

### Kedy je vhodn√© pou≈æi≈• stƒ∫pcov√Ω, a kedy kol√°ƒçov√Ω graf? Ak√© s√∫ ich v√Ωhody a nev√Ωhody?

In [ ]:
diamonds.color.value_counts().plot(kind='pie')

Pri poƒçte hodn√¥t v√§ƒç≈°om ako 3-4 je lep≈°ie pou≈æi≈• stƒ∫pcov√Ω graf.

## P√°rov√° anal√Ωza

### Spojit√Ω - spojit√Ω: Scatter plot

Najƒçastej≈°√≠ sp√¥sob ako vizualizova≈• vz≈•ah dvoch spojit√Ωch atrib√∫tov.

Zobrazuje rozmiestnenie v priestore hodn√¥t. Umo≈æ≈àuje zisti≈•, ƒçi s√∫ v d√°tach nejak√© prirodzen√© zhluky.

In [ ]:
plt.scatter(iris.sepal_length, iris.sepal_width)

In [ ]:
sns.pairplot(iris, hue="species")

## Korel√°cia

Hodnota v rozsahu [-1, 1], ktor√° hovor√≠ o tom, ak√Ω siln√Ω line√°rny vz≈•ah je medzi atrib√∫tmi.

* -1 perfektn√° negat√≠vna korel√°cia
* 0 ≈æiadna korel√°cia
* 1 perfektn√° kladn√° korel√°cia

Pearsonov korelaƒçn√Ω koeficient:
$$ corr(X, Y) = \frac{cov(X,Y)}{\sigma_X\sigma_Y} = \frac{E[(X-E[X])(Y-E[Y])]}{\sigma_X\sigma_Y}$$

$$ r_{xy} = \frac{\sum_{i=1}^{n}{(x_i-\overline{x})(y_i-\overline{y})}}{(n-1)s_xs_y} $$

<img src="https://www.analyticsvidhya.com/wp-content/uploads/2015/02/Data_exploration_4.png" width="50%"/>

### Pearsonov korelaƒçn√Ω koeficient meria **line√°rnu z√°vislos≈•** medzi dvomi premenn√Ωmi.

Medzi dvomi premenn√Ωmi v≈°ak m√¥≈æe by≈• aj in√Ω typ z√°vislosti.

Alternat√≠vy k Pearsonovmu korelaƒçn√©mu koeficientu, ktor√© nevy≈æaduj√∫ linearitu, len monot√≥nnos≈•, s√∫:
* Spearmanov koeficient
* Kendalovo $\tau$

In [ ]:
sns.regplot(x="petal_length", y="petal_width", data=iris)
print("Pearson correlation: %.3f" % iris.petal_length.corr(iris.petal_width))

In [ ]:
iris.corr()

In [ ]:
fig, ax = plt.subplots(figsize=(10,8))
sns.heatmap(iris.corr(), ax=ax, annot=True, fmt=".3f")

## Korel√°cia $\neq$ kauzalita

- Ak dva javy spolu koreluj√∫, m√¥≈æe to by≈• n√°hoda. (*Pr√≠klady vtipn√Ωch korel√°ci√≠ n√°jdete tu:* http://tylervigen.com/spurious-correlations)
- Alebo m√¥≈æe existova≈• nejak√Ω in√Ω jav, ktor√Ω je p√¥vodcom oboch. (*Napr. √∫ƒças≈• ≈°tudentov na predn√°≈°kach m√¥≈æe korelova≈• s ich fin√°lnym hodnoten√≠m na predmete, ale mo≈æno len na predn√°≈°ky chod√≠ viac sna≈æivej≈°√≠ch ≈°tudentov, ktor√≠ by lep≈°ie hodnotenie mali tak ƒçi tak.*)
- **Dok√°za≈• kauzalitu je netrivi√°lne - kontrolovan√Ω (randomizovan√Ω) experiment**

## P√°rov√° anal√Ωza: Spojit√Ω - kategorick√Ω

Tu sa najƒçastej≈°ie pou≈æ√≠va rozdeƒæovanie pozorovan√≠ podƒæa kategorickej hodnoty a zobrazovanie rozdelen√≠ podmno≈æ√≠n numerick√Ωch hodn√¥t napr√≠klad pomocou histogramov alebo boxplotov.

ƒåize ide o viacn√°sobn√© pou≈æitie vizualiz√°ci√≠, ktor√© sa pou≈æivaj√∫ na zobrazenie spojit√Ωch atrib√∫tov.

In [ ]:
sns.boxplot(x='species', y='petal_length', data=iris)

## P√°rov√° anal√Ωza: Kategorick√Ω - kategorick√Ω

* Kontingenƒçn√° tabuƒæka
* Teplotn√° mapa
* Zlo≈æen√Ω stƒ∫pcov√Ω graf
* Chi-kvadr√°t testy

In [ ]:
titanic = pd.read_csv('data/titanic/train.csv')
titanic.head()

In [ ]:
# Frekvencna tabulka
titanic["Survived"].value_counts()

In [ ]:
survived_class = pd.crosstab(index=titanic["Survived"], 
                             columns=titanic["Pclass"])
survived_class.index= ["died","survived"]
survived_class

In [ ]:
sns.heatmap(survived_class, annot=True, fmt="d")

In [ ]:
survived_class_perc = pd.crosstab(index=titanic["Survived"], 
                                  columns=titanic["Pclass"],
                                  normalize='columns') #'index', 'all'
survived_class_perc.index= ["died","survived"]

sns.heatmap(survived_class_perc, 
            annot=True, 
            fmt=".4f")
survived_class_perc

In [ ]:
pd.crosstab(index=titanic["Survived"], 
            columns=[titanic["Pclass"], 
            titanic["Sex"]],
            margins=True)

In [ ]:
pd.crosstab(index=titanic["Pclass"], columns=titanic["Survived"]).plot.bar(stacked=True)

# Vizualiz√°cie n√°m pom√°haj√∫ pochopi≈• d√°ta
**Ak s√∫ spraven√© dobre...**