In [1]:
# -*- coding: utf-8 -*-
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Pandas (again)

URL https://github.com/FIIT-IAU

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

## Uloha na cvicenie

dataset: https://www.kaggle.com/fivethirtyeight/fivethirtyeight-bad-drivers-dataset

In [3]:
import seaborn as sns

In [4]:
cars = sns.load_dataset('car_crashes')

In [5]:
cars.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

#### 1. zakladne vlastnosti, deskriptivne statistiky, etc

#### 2. zakladne grafy distribucii, skuste najst korelacie (predovsetkym s celkovym poctom vodicov s fatalnymi nehodami)

#### 3. najdite stat s najvacsim / najmensim poctom nehod; urcite priemerny pocet pre jednotlicve krajiny

#### 4. rozdelte podla poctu nehod rovnomerne na 4 skupiny, pre kazdu skupinu uvedte priemerne hodnoty vsetkych ostatnych stlpcov